<!DOCTYPE html>
<html>
<head>
    <title>Tilt For Trees</title>
     <link rel="stylesheet" href="{{ url_for('static', filename ='styles/style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/style.js')}}"></script>

</head>
<body>
    <h1>Tilt For Trees</h1>
    <div class="tree-container">
    <p>Tree of Z1S3 </p>
  </div>

  <div class="tree-container">
    <p>Tree of Z2S2 </p>
  </div>
    <img src="static/original12.png" alt="Girl in a jacket" width="350" height="400" align="bottom">

</body>
</html>
